
{{#with this}}

  <div class='movie-card' >
    <img src="https://image.tmdb.org/t/p/w500{{poster_path}}"
      class='movie-header' alt="posterv of cinema"
      id='{{id}}'
    >
    </img>
    <!--movie-header-->
    <div class='movie-content'>
      <div class='movie-content-header'>
        <a href='#'>
          <h3 class='movie-title'>{{title}}</h3>
        </a>
        {{! <div class='imax-logo'></div> }}
      </div>
      <div class='movie-info'>
        <div class='info-section genre'>
          <span class="genre-name">{{this.genres.[0].name}}{{#unless @last}} {{/unless}}{{this.genres.[1].name}}</span>
        </div>
        <div class='info-section'>
          <span>{{release_date}}</span>
        </div>
        <!--date,time-->
        <div class='info-section'>
        </div>
        <!--screen-->
        <div class='info-section extend'>
          <span>{{vote_average}}</span>
        </div>
        <!--row-->
 
        {{!-- {{#each this.genres}} {{#unless @last}} {{name}} {{/unless}} {{/each}} --}}
        {{!-- {{#each this.genres}}{{name}}{{/each}} --}}
        {{!-- {{#unless @last}}, {{/unless}} --}}
        <!--seat-->
      </div>
    </div>
    <!--movie-content-->
  </div>

{{/with}}
