{{#each this}}
  <div class="developer">
    <img src='{{photo}}' class="developer-photo" alt={{description}} loading="lazy"/>
    <p class="developer-data">{{name}}</p>
    <p class="developer-position">{{position}}</p>
    <a href="{{github}}" class="developer-github" target="_blank" rel="noreferrer noopener"><svg
                        class="icon-github">
                        <use href="/images/svg/sprite.svg#icon-github" width="30px" height="30px">
                    </svg></a>    
</div>
{{/each}}


{{!-- {{#each this}}
  <div class="photo__card">
    <a href='{{largeImageURL}}' class="photo__link">
      <img src='{{webformatURL}}'class="gallery__image" alt={{tags}} loading="lazy" width="500"/>
    </a>

    <div class="info">
      <p class="info-item">
        <b>{{likes}} Likes</b>
      </p>
      <p class="info-item">
        <b>{{views}} Views</b>
      </p>
      <p class="info-item">
        <b>{{comments}} Comments</b>
      </p>
      <p class="info-item">
        <b>{{downloads}} Downloads</b>
      </p>
    </div>
</div>
{{/each}} --}}