{{#with this}}

  <div class='movie_card' id='bright'>

    <div class='backdrop-youtube is-hidden'>
      <button class='youtubeg'>X</button>
      <div id='player'></div>
    </div>

    <div class='close-btn'><button class='close-btn-modal'>X</button></div>

    <div class='info_section'>
      <div class='movie_header'>

        <img class='locandina' src='https://image.tmdb.org/t/p/w500{{poster_path}}' />

        <svg class='svg--source' width='0' height='0' aria-hidden='true'>
          <symbol id='svg--youtube' viewbox='-150 -150 800 800'>
            <path
              d='M459,61.2C443.7,56.1,349.35,51,255,51c-94.35,0-188.7,5.1-204,10.2C10.2,73.95,0,163.2,0,255s10.2,181.05,51,193.8
			C66.3,453.9,160.65,459,255,459c94.35,0,188.7-5.1,204-10.2c40.8-12.75,51-102,51-193.8S499.8,73.95,459,61.2z M204,369.75v-229.5
			L357,255L204,369.75z'
            ></path>
          </symbol>
        </svg>

        <div class='connect'>
          <a href='#' class='share youtube'>
            {{! target='_blank' }}
            <svg role='presentation' class='svg--icon'>
              <use xlink:href='#svg--youtube'></use>
              <span class='clip'>YOU-TUBE</span>
            </svg>
          </a>
        </div>

        <h1>{{title}}</h1>
        <h4>{{release_date}}</h4>
        <span class='minutes accent'>{{vote_average}}</span>
        <span class='minutes'>{{vote_count}}</span>
        <p class='type'>{{#each this.genres}}{{name}}{{#unless @last}}, {{/unless}}{{/each}}</p>
      </div>
      <div class='movie_desc'>
        <p class='text'>{{overview}}
        </p>
      </div>
      <div class='movie_social'>
        <ul class='list-btn-modal'>
          <li><button
              id='{{id}}'
              type='button'
              class='library__search--btn'
              data-action='add-to-watched'
            >ADD TO WATCHED</button></li>
          <li><button
              id='{{id}}'
              type='button'
              class='library__search--btn'
              data-action='add-to-queue'
            >ADD TO QUEUE</button></li>

        </ul>
        <button class='raise library__search--btn is-hidden' id='{{id}}'>REMOVE</button>
      </div>
    </div>
    <div id='bgc' class='blur_back bright_back' style=''></div>

  </div>

{{/with}}